@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image{
    background-image:url('https://assets.nflxext.com/ffe/siteui/vlv3/9f46b569-aff7-4975-9b8e-3212e4637f16/3bdef7cc-09d3-4923-bad6-7e2d7ec6c1d1/NG-en-20240415-popsignuptwoweeks-perspective_alpha_website_small.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}